.vh100{
  height: 87vh;
}


.circle-text {
  width:50%;
}
.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background:silver; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}

.circle-text div {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color:white;
}


.circle-text2 {
  width:50%;
}
.circle-text2:after {
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background: gold; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}

.circle-text2 div {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color:white;
}

.circle-text3 {
  width:50%;
}
.circle-text3:after {
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background: burlywood; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}

.circle-text3 div {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color:white;
}

.scroll_register {
  max-height: 87vh;
  overflow-y: auto;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 40vh; /* only if you want fixed height */
  }

body {
  margin: 0;
  padding: 0;
  background-color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
